.proimg {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    row-gap: 40px;
    margin-bottom: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.product-info {
    border: 1px solid #000;
    background-color: #fff8e89d;
    padding: 10px;
}

.add-to-cart-button {
    background-color: #09b000;
    color: #fff;
    border: none;
    padding: 6px 6px;
    font-size: 14px;
    cursor: pointer;
}

.delete-cart-button {
    background-color: white;
    color: rgb(255, 0, 0);
    border-color: rgb(255, 0, 0);
    border-style: solid;
    border-width: 1.5px;
    border-radius: 2px;
    cursor: pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 10px;
    padding-left: 10px;
    transition: background-color 1s,
    color 1s;
}

.delete-cart-button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

.delete-cart-button:active{
    opacity: 0.7;
}

.add-to-cart-button:hover {
    background-color: #008807;
    transition: background-color 1s,
    color 1s;
}

.price-button {
    background-color: #ff7300;
    color: #fff;
    border: none;
    padding: 6px 6px;
    font-size: 16px;
}

.quantity-button {
    background-color: #5bb100;
    color: #fff;
    border: none;
    padding: 6px 6px;
    font-size: 16px;
}

.cart-amount {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dispro-div {
    max-width: 200px;
    text-align: center;
    border: 1px solid #4e4c4c5a;
    padding: 10px;
}

.proname-text {
    font-size: 20px;
    background-color: #ffff0216;
}

.cont-button {
    background-color: rgb(0, 62, 207);
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 18px;
    transition: opacity 0.15s;
    vertical-align: top;
}

.cont-button:hover {
    opacity: 0.8;
    background-color: rgb(47, 212, 10);
}

.cont-button:active{
    opacity: 0.4;
}

.cont-button-text {
    text-align: center; 
    padding-top: 10px;
}

.contact-form-cl {
    display: flex;
    justify-content: center;
}

.heading-class {
    text-align: center; 
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.my-cart-cl {
    max-width: 200px;
    text-align: center;
    border: 1px solid #4e4c4c5a;
    padding: 5px;
}

.amt-pay {
    display: flex;
    background-color: #484848;
    height: 50px;
    justify-content: center;
    color: white;
    align-items: center;
}

html, body {
    height: 100%;
  }
  
body {
    display: flex;
    flex-direction: column;
  }
  
.content-type {
    flex: 1;
  }
  
footer {
    padding: 10px;
    background-color: rgba(255, 103, 103, 0.114);
    text-align: center;
    font-size: small;
    color: #484848;
  }