{% extends 'landingpage.html' %}
{% block title %}No items in the cart{% endblock %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
</style>
<link rel="stylesheet" href="static/css/image.css">
<link rel="stylesheet" href="static/css/menu.css">
<div class="text-class">No items in the cart</div>
<div class="back-button-text"><button class="back-button"><a class="menuhref" href="/">Back</a></button></div>
<img src="images/empty-cart.jpg" style="max-width: 15%;padding-left: 525px;padding-top: 70px;">
{% endblock %}